.container{
  height: 500px;
  width: 100%;
  margin: 20px;
  color: #d62828;
  background-color: #003049;
  text-align: center;
 }


.one, .two{
  background-color: #f77f00 ;
  color:#003049 ;
}

@media all and (max-width: 800px) {

.container{
  height: 1000px;
  width: auto;
  margin: 20px;
  color: #d62828;
  background-color: #003049;
  text-align: center;
  font-size: 50px;
 }

.one, .two{
  font-size: 50px;
}
  
}
  
